@font-face {
    font-family: yekan;
    src: url('./../fonts/yekan-font/yekan-regular.eot');
    src: url('./../fonts/yekan-font/yekan-regular.ttf');
    src: url('./../fonts/yekan-font/yekan-regular.ttf');
    src: url('./../fonts/yekan-font/Yekan.eot');
    src: url('./../fonts/yekan-font/Yekan.svg');
    src: url('./../fonts/yekan-font/Yekan.woff');
    src: url('./../fonts/yekan-font/Yekan.ttf');
  }